<nav class="travel-nav">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="/activities">Activities</NavLink>
    <NavLink class="nav-link" href="/holiday-packages">Packages</NavLink>
    <NavLink class="nav-link" href="/park-entry">Permits</NavLink>
    <NavLink class="nav-link" href="/corporate-travel">Business</NavLink>
    <NavLink class="nav-link" href="/guide">Guide</NavLink>
</nav>

@code { }
